.wrapper {
    width: 100%;
}

.content-heading {
    text-align: center;
    color: #252a2b;
    font-size: 3.7rem;
    line-height: 1.1;
    margin: 48px 64px;
    text-transform: uppercase;
    font-weight: 500;
    &:hover {
        opacity: 0.6;
    }
}
.new-container {
    margin-bottom: 64px;
}

.news {
    width: 100%;
    img {
        max-width: 100%;
        height: auto;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 12px 0;
        span {
            color: #999;
            font-size: 1.4rem;
        }
        h3 {
            font-weight: 400;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 16px 12px;
            position: relative;
            &::after {
                position: absolute;
                content: '';
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                width: 50px;
                height: 2px;
                background: #f59505;
            }
        }
        p {
            width: 100%;
            margin-top: 24px;
            margin-bottom: 64px;
            padding: 0px 12px;
            font-size: 1.4rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
