.wrapper {
    padding: 24px;

    h2 {
    }

    span {
        margin: 12px 0;
        display: block;
    }

    p {
        margin: 12px 0;
        line-height: 1.6;
        font-size: 1.4rem;
        text-align: justify;
    }
}
